body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* CSS FOR NAVBAR */

#navbar {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 98.8%;
  padding-left: 7px;
  padding-top: 20px;
}

#navbar h1 {
  color: black;
  margin: 10px;
  padding-left: 70px;
}

#nbf-logo {
  padding-top: 10px;
  padding-left: 60px;
  height: 100px;
  width: 175px;
}

#searchbar {
  border-radius: 12px;
  height: 25px;
  border-width: 3px;
  border-color: black;
}

#user-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  border-radius: 15px;
  width: 125px;
  height: 45px;
  background-color: transparent;
  border-width: 3px;
  border-color: black;
  border-style: solid;
}

#user-icon {
  height: 40px;
  width: 40px;
  margin: 5px;
  background-color: aquamarine;
  border-radius: 50%;
}

#left-nav-buttons {
  display: flex;
  flex-direction: row-reverse;
}

#cart-icon {
  height: 45px;
  width: 45px;
  margin-right: 10px;
}

#user-container-dropdown {
  display: none;
  position: absolute;
  top: 58px;
  background-color: transparent;
  width: 118px;
  z-index: 1;
}

#user-container-dropdown a {
  color: black;
  text-decoration: none;
  display: block;
  margin: 10px;
}

#user-container-dropdown a:hover {
  background-color: #ddd;
}

/* @keyframes slideDown {
  from {
    transform: translateY(0px);
    opacity: 0;
  }
  to {
    transform: translateY(58px);
    opacity: 1;
  }
} */

#user-container:hover #user-container-dropdown {
  display: block;
  /* animation-name: slideDown; */
}

/* HOMEPAGE */

#homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner-pic {
  position: relative;
  top: 0;
  width: 100%;
  z-index: -1;
}

/* ALL SHOES (HOMEPAGE) */

#all-shoes-container {
  width: 100%;
}

#all-shoes-view {
  margin-left: 4%;
  margin-right: 4%;
}

#all-shoes-view h1 {
  text-align: center;
}

#product-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product {
  display: flex;
  flex-direction: column;
}

.product div {
  text-align: center;
  padding: 10px;
}

.product-image {
  height: 250px;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* FILTER BAR (IN ALL SHOES) */

#brand-filter {
  margin-top: 20px;
  height: 40px;
  width: 100%;
  position: static;
}

#brand-filter-content {
  display: none;
}

#brand-filter-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#brand-filter-content form {
  display: none;
}

#brand-filter:hover + #brand-filter-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#brand-filter:hover + #brand-filter-content form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#brand-filter-content:hover {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#brand-filter-content form:hover {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#brand-filter-content a {
  margin-top: 5px;
  margin-bottom: 5px;
  width: fit-content;
}

#brand-filter-content a:hover {
  margin-top: 5px;
  margin-bottom: 5px;
  width: fit-content;
  background-color: rgb(138, 137, 137);
}

/* SINGLE SHOE VIEW */

#single-shoe-view {
  padding-top: 12%;
  margin-left: 4%;
  margin-right: 4%;
}

#single-shoe-view img {
  height: 535px;
  width: 715px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#shoe-detail-container {
  display: flex;
}

#shoe-specs {
  margin-left: 5%;
  width: 600px;
  height: 500px;
  text-align: center;
}

#size-grid {
  display: flex;
  margin-left: 4%;
  width: 500px;
  height: 400px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.grid-square {
  height: 51px;
  width: 72px;
  margin: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background 200ms ease-in;
}

.grid-square:hover {
  height: 51px;
  width: 72px;
  margin: 5px;
  border-width: 1px;
  border-color: rgb(139, 139, 139);
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  background: rgb(139, 139, 139);
}

.grid-square h5 {
  top: 50%;
}

#button-description {
  display: flex;
  flex-direction: column;
}

#shoe-specs button {
  margin-top: 50px;
  margin-bottom: 30px;
  align-items: center;
  background: #06f;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  min-width: 140px;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  margin-left: 30%;
  margin-right: 30%;
  transition: background 200ms ease-in;
}

#shoe-specs button:hover {
  margin-top: 50px;
  margin-bottom: 30px;
  align-items: center;
  background: rgb(202, 61, 48);
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  min-width: 140px;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  margin-left: 30%;
  margin-right: 30%;
}

.selectedSize {
  background-color: grey;
}

#shoe-description {
  margin: 15px;
  text-align: left;
  padding-top: 7px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#shoe-description a {
  margin-right: 7px;
  margin-left: 7px;
  font-size: 20px;
  font-weight: 600;
}

#shoe-description div {
  margin-top: 10px;
  margin-right: 7px;
  margin-left: 7px;
  padding-bottom: 7px;
}

/* RECCOMENDED SHOES (IN SINGLE SHOE VIEW) */

#reccomended-outer-div {
  margin-top: 330px;
}

#reccomended-outer-div a {
  font-size: 20px;
  font-weight: 600;
}

#reccomended-products {
  margin-top: 10px;
  display: flex;
  margin-bottom: 50px;
  width: 100%;
  height: 260px;
  border-width: 1px;
  border-color: rgb(200, 197, 197);
  border-style: solid;
  border-radius: 20px;
}

#reccomended-details {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;
  height: 240px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 20px;
  overflow: scroll;
}

#reccomended-shoe {
  display: flex;
  flex-direction: column;
}

#reccomended-shoe img {
  height: 175px;
  width: 225px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 25px;
}

#reccomended-shoe a {
  text-align: center;
  padding-top: 8px;
  font-size: 15px;
  font-weight: 300;
}

/* fieldset {
  margin: 2em 0;
  padding: 1em 2em;
  border: solid 1px #ccc;
  border-radius: 6px;
  min-width: 200px;
}

legend {
  font-size: 1.25em;
  padding: 0 .25em;
  color: #999;
}

label {
  display: block;
  margin-top: 1em;
} */

#edit_account_body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6);
}

#edit_account {
  display: flex;
  background: rgba(233, 230, 230, 0.8);
  border-radius: 25px;
  padding: 1.9em;
}

#edit_account .edit_account .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

#edit_account .input-box label.details {
  font-family: 'Poppins', sans-serif;
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

#edit_account .input {
  width: 300px;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 350;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
}

#edit_account .submit-button,
.cancel-button {
  align-items: center;
  background-color: rgb(12, 12, 12);
  border: 2px solid rgb(6, 6, 6);
  box-sizing: border-box;
  color: rgb(242, 237, 237);
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 350;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
}

#edit_account .submit-button:hover,
.cancel-button:hover {
  border-color: rgb(255, 255, 255);
}
